{% extends "main/navbar.html" %}
{% load crispy_forms_tags %}
{% block title %}
<title>Create New Account</title>
{% endblock %}
{% block content %}
<div style="font-size:50%">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Create Account</legend>
            {{ form|crispy }}
        </fieldset>
        {% if extension and id %}
        <input type="hidden" name="extension" value="True">
        <input type="hidden" name="id" value="{{ id }}">
        {% endif %}
        <button type="submit">Create Account</button>
    </form>
</div>
{% endblock content %}