{% extends "main/navbar.html" %}
{% load crispy_forms_tags %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% if extension and id %}
            <h2>Browser extension needs authentication.</h2>
        {% endif %}
        <fieldset>
            <legend>Sign In</legend>
            {{ form|crispy }}
        </fieldset>
        <input type="submit" value="Sign In">
    </form>
    <br>
    <p>
        {% if extension and id %}
        <a href="/accounts/create-account?extension=True&id={{ id }}" {{><button>Create New Account</button></a>
        {% else %}
        <a href="/accounts/create-account/"><button>Create New Account</button></a>
        {% endif %}
    </p>
{% endblock content %}