{% extends "main/navbar.html" %}
{% block title %}
    <title>Summary</title>
{% endblock %}
{% block content %}
    <h1>Internet Usage Summary</h1>
    <h2>Time Spent on Websites</h2>
    <canvas id="pie-chart-overall"></canvas>
    <h2>Average Internet Usage By Day</h2>
    <canvas id="bar-graph"></canvas>
    <h2>Average Internet Usage By Hour</h2>
    <canvas id="line-graph"></canvas>
    <h2>Productive Time Spent On</h2>
    <canvas id="pie-chart-productive"></canvas>
    <h2>Unproductive Time Spent On</h2>
    <canvas id="pie-chart-unproductive"></canvas>
{% endblock %}