{% extends "main/navbar.html" %}
{% block title %}
    <title>Home Page</title>
{% endblock %}
{% block content %}
    <h1>Habit Tracker</h1>
    <p>
        <h3 id="date-header">
            <span id="date">{{ date }}</span> <button onclick="changeDate()">Change Date</button>
        </h3>
    </p>
    {% if not edit %}
    <form method="GET">
        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="edit" value="True">
        <input type="submit" value="Edit Data">
    </form>
    {% endif %}
    {% if edit %}
    <form method="POST">
        {% csrf_token %}
        {% endif %}
    <table border="1">
        <tr>
            <th class="start-time">Start Time</th>
            <th class="end-time">End Time</th>
            <th class="website">Activity</th>
            <th class="productive">Productive</th>
            <th class="notes">Notes</th>
        </tr>
        {% if edit %}
            {% for activity in activities %}
                <tr>
                    <input type="hidden" value="{{ activity.id }}" name="id">
                    <td name="start_time_td" value="{{ activity.start_time }}">
                        <input type="text" style="text-align: center" maxlength="5" size="5" oninput="handleCharacter(this)" onchange="handleInput(this)" placeholder="- - : - -" name="start-time" value="">
                        <select id="am/pm" name="start_time_am_pm" value="">
                            <option value='a.m.'>AM</option>
                            <option value='p.m.'>PM</option>
                        </select>
                    </td>
                    <td name="end_time_td" value="{{ activity.end_time }}">
                        <input type="text" style="text-align: center" maxlength="5" size="5" oninput="handleCharacter(this)" onchange="handleInput(this)" placeholder="- - : - -" name="end-time" value="">
                        <select id="am/pm" name="end_time_am_pm" value="">
                            <option value='a.m.'>AM</option>
                            <option value='p.m.'>PM</option>
                        </select>
                    </td>
                    <td class="url">{{ activity.site.url }}</td>
                    <td>
                        <select id="productive" name="productive" value="{{ activity.productive }}">
                            <option value='' selected disabled hidden>--True or False--</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </td>
                    <td><textarea rows="4" cols="75" name="notes" style="width:99%; height:100%;">{{ activity.notes|default:"" }}</textarea></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit">
    </form>
        {% else %}
            {% for activity in activities %}
            <tr>
                <td>{{ activity.start_time }}</td>
                <td>{{ activity.end_time }}</td>
                <td>{{ activity.site.url }}</td>
                <td>{{ activity.productive|default:"Unknown" }}</td>
                <td>{{ activity.notes|default:"" }}</td>
            </tr>
            {% endfor %}
    </table>
        {% endif %}
    {% if not edit %}
    <form method="GET">
        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="edit" value="True">
        <input type="submit" value="Edit Data">
    </form>
    {% endif %}
{% endblock %}