{% extends "main/navbar.html" %}
{% block title %}
    <title>View Site Visit Data</title>
{% endblock %}
{% block content %}
    <h1>Data received from extension on sites visited.</h1>
    <form method="GET">
        <label for="start_date">Start Date</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}" max="{{ end_date }}">
        <label for="end_date">End Date</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}" min="{{ start_date }}">
        <input type="submit" value="Submit Dates">
    </form>
    {% for site_visit in site_visits %}
        <h2>{{ site_visit.day }}</h2>
        <table border="1" id="{{ site_visit.day }}">
            <tr id="table-headers">
                <th></th>
                <th align="center" class="start_time">Start Time</th>
                <th align="center" class="end_time">End Time</th>
                <th align="center" class="websites">Website</th>
                <th align="center" class="extensions">Website Extensions</th>
            </tr>
            {% for visit in site_visit.visits %}
                <tr id="{{ visit.id }}">
                    <td><button id="edit_site_visit" onclick="editSiteVisit({{ visit.id }})">Edit</button></td>
                    <td>{{ visit.start_time }}</td>
                    <td>{{ visit.end_time }}</td>
                    <td>{{ visit.url }}</td>
                    {% if visit.extensions %}
                    <td><textarea readonly cols="75">{{ visit.extensions }}</textarea></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <button onclick="makeEditable({{ site_visit.day }})">Edit</button>
    {% endfor %}
{% endblock %}