{% extends "main/navbar.html" %}
{% block title %}
    <title>View Site Visit Data</title>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <h1>Data received from extension on sites visited.</h1>
    <form method="GET">
        <label for="start_date">Start Date</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}" max="{{ end_date }}">
        <label for="end_date">End Date</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}" min="{{ start_date }}">
        <input type="submit" value="Submit Dates">
    </form>
    {% for site_visit in site_visits %}
        <h2>{{ site_visit.day }}</h2>
        <table border="1" id="{{ site_visit.day }}">
            <tr id="table-headers">
                <th></th>
                <th class="start_time text-center">Start Time</th>
                <th class="end_time text-center">End Time</th>
                <th class="websites text-center">Website</th>
                <th class="extensions text-center">Website Extensions</th>
            </tr>
            {% for visit in site_visit.visits %}
                <tr id="{{ visit.id }}">
                    <td class="text-center"><button id="edit_site_visit" onclick="makeEditable({{ visit.id }}, this)">Edit</button></td>
                    <td class="text-center">{{ visit.start_time }}</td>
                    <td class="text-center">{{ visit.end_time }}</td>
                    <td class="text-center">{{ visit.url }}</td>
                    {% if visit.extensions %}
                    <td class="text-center"><textarea readonly cols="75">{{ visit.extensions }}</textarea></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}