table {
    width: 90%;
    max-width: 90%;
}

th.start_time, th.end_time {
    width: 135px;
}

th.activity_type {
    width: 150px;
}

th.productive {
    width: 130px;
}

.notes, th.extensions {
    min-width: 300px;
    max-width: 1000px;
}

.notes {
    word-break: break-word;
}

th.extensions {
    word-break: break-all;
}

textarea {
    width:99%;
    height:100%;
}

th.website {
    width: 15%;
}

th.websites {
    width: 50px;
}