button {
    cursor: pointer;
}

.custom-navbar {
    visibility: visible;
    background-color: deepskyblue;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

img.custom-navbar {
    width: 62px;
    height: 62px;
}

button.custom-navbar {
    float: right;
    font-size: 120%;
    background-color: inherit;
    padding: 20px 30px;
    outline: none;
    border: solid;
    border-width: 2px;
    border-color: #007399;
}

a.custom-navbar {
    color: black;
    text-decoration: none;
}

a.custom-navbar:hover {
    background-color: #cc5229;
}

a.custom-logo {
    padding-left: 30px;
    padding-top: 2px;
}